body
{   margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
#wrap 
{
    margin: 0px auto;
    width: 1000px;
}
#banner {
    width: 1000px;
    height: 106px;
    vertical-align: top;
    background-repeat: no-repeat;
}
td 
{
    font-family: arial,sans-serif;
    font-size: 13px;
}
img {
    margin-bottom: 11px;
}
#menu_bg {
    width: 1000px;
    height: 25px;
}
#menu_left
{
    width: 28px;
    height: 25px;
    float: left;
}
a:visited {
    color: #5555AA;
}
img {
    border: solid 0px;
}
#menu_middle
{
    width: 959px;
    height: 25px;
    float: left;
    background-image: url(http://w2.34hi.com/button_bg.jpg);
    background-repeat: repeat-x;
}
#menu_middle ul 
{
    margin: 5px 40px 0 0;
}
.menuimgright
{
    width: 13px;
    height: 25px;
    float: left;
    background-image: url(http://w1.34hi.com/button_bgright.jpg);
    background-repeat: no-repeat;
}
.well
{
   border: 5px solid green;
    
   
}
.contact_head
{
    padding-left: 0px;
    text-align: left;
    color: brown;
    font-weight: bold;
}
.textareafield {
    width: 930px;
    height: 400px;
    border: .5px solid black;
    margin-top: 50px;
    padding: 0 10px 0 10px;
    border-radius: 3%;
    
}
#advertisment-container
{
    float: left;
    width: 900px;
    margin-right: 10px;
    clear: both;
}
.blue-header {
    float: right;
    font-size: 26px;
    color: #00355b;
    font-weight: bold;
    text-align: center;
    padding-right: 100px;
    padding-top: 20px;
}
.iconeimage
{
    margin-left: 150px;
     padding-top: 20px;
}
.add-content-container {
    margin: 0px;
    clear: both;
}
.add-content {
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    float: left;
}
.add-content ul
{
    margin: 10px;
    padding: 0px;
}
.add-content li 
{
    list-style: url(../images/adminlog.gif);
    text-align: left;
    line-height: 40px;
    margin-left: 20px;
   
}
.student-image
{
    float: left;
}
.students-spacer 
{
    float: left;
    margin: 20px 10px 30px 10px;
    height: 180px;
    background-color: #0594a4;
    width: 1px;
}
.login
{
   
   
    margin: 30px;
   
}
fieldset
{
    
    width:600px;
    height: 350PX;
    border: 2px solid #ccc;
    border-radius: 5px;
    border-color: #40C1FF;
    border-radius: 10px;  
    padding-left: 10%;
    padding-top: 1%;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
        margin-right: 58px;
    margin-top: -11px;
}
.text-part{ font-weight:bold; padding:5px; color:black; color: blue;float:left; width:100px;}
.input-area
{
    float:left; 

    border: thin;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: #40C1FF;
    width: 200px;
    height: 25px;
    background-color: #F2F2F2;
    border-radius: 10px;
}
.input-area input
{
    width: 200px;
    border-radius: 10px;
}

.clear-both{clear:both;}
.psw 
{
    float: left;
    color: blue;
    text-decoration:underline;
    
}
.b 
{
    float: left;
    margin-left: 80px;
    color: blue;
    text-decoration:underline;
}

fieldset
{
    
    width:600px;
    height: 350PX;
    border: 2px solid #ccc;
    border-radius: 5px;
    border-color: #40C1FF;
    border-radius: 10px;  
    padding-left: 10%;
    padding-top: 5%;
    margin-top: 50px;
}
.headings {
    text-align: left;
    font-size: 14px;
    margin-left: 194px;
    color: #002e68;
    font-weight: bold;
    margin-top: 30px;
}
#admin_fields {
    width: 120px;
    float: left;
}
.valid_txt1 {
    text-align: center;
    margin-top: 5px;
    color: red;
    font-size: 11px;
    font-weight: normal;
}
.text 
{
    padding:5px; 
    color:black; 
    color: black;
    float:left; 
    width:200px;
}
.inputarea
{
    float:left; 

    border: thin;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  
 
    border-style: solid;
  
    width: 200px;
    height: 25px;
    background-color: #F2F2F2;
   
}
.inputarea input
{
    width: 200px;
  
}
.inputareap input
{
   height: 300px;
    width: 300px;  
    
}
.abc
{
    margin-left: 200px;
}

footer
{
    width:80%;
  
}


footer ul
{
    margin: 0px;
    padding: 0px;
  
}

footer ul li
{
    display: inline-block;
    text-decoration: none;
    color: black;
  
    font-size: 12px;
    
}

footer 
{
  background-image: url(../images/footer.jpg);
    padding: 15px;
    background-size: cover;
}

.footer2 ul
{
    margin: 0px;
    padding: 0px;
    margin-left: 30px;
}

.footer2 ul li
{
    display: inline-block;
  
  
    font-size: 12px;
}
.footer2 ul li
{
    color: black;
    text-decoration: none;
      
}
.col-md-8
{
    border: 15px solid #39a1a3;
   
    margin-top: 30px;
}
